USE [master]
GO
/****** Object:  Database [operaciones_bancarias]    Script Date: 01/05/2021 12:30:46 ******/
CREATE DATABASE [operaciones_bancarias]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'operaciones_bancarias', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\operaciones_bancarias.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'operaciones_bancarias_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\operaciones_bancarias_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [operaciones_bancarias].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [operaciones_bancarias]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 01/05/2021 12:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[NRO_CUENTA] [varchar](14) NOT NULL,
	[TIPO] [char](3) NOT NULL,
	[MONEDA] [char](3) NOT NULL,
	[NOMBRE] [nvarchar](40) NOT NULL,
	[SALDO] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NRO_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONEDA]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONEDA](
	[ID_MONEDA] [char](3) NOT NULL,
	[PAIS] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MONEDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[ID_MOVIMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[NRO_CUENTA] [varchar](14) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TIPO] [char](1) NOT NULL,
	[IMPORTE] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CAMBIO]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CAMBIO](
	[ID_MONEDA] [char](3) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[VALOR_COMPRA] [decimal](12, 2) NOT NULL,
	[VALOR_VENTA] [decimal](12, 2) NOT NULL,
	[ID_MONEDA_CAMBIO] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CUENTA] ([NRO_CUENTA], [TIPO], [MONEDA], [NOMBRE], [SALDO]) VALUES (N'10000000000001', N'aho', N'bol', N'vanessa guaravia', CAST(19513.90 AS Decimal(12, 2)))
INSERT [dbo].[CUENTA] ([NRO_CUENTA], [TIPO], [MONEDA], [NOMBRE], [SALDO]) VALUES (N'10000000000002', N'aho', N'bol', N'sandra callizaya', CAST(11790.00 AS Decimal(12, 2)))
INSERT [dbo].[CUENTA] ([NRO_CUENTA], [TIPO], [MONEDA], [NOMBRE], [SALDO]) VALUES (N'10000000000003', N'aho', N'bol', N'alejandro paz', CAST(13880.00 AS Decimal(12, 2)))
GO
INSERT [dbo].[MONEDA] ([ID_MONEDA], [PAIS]) VALUES (N'bol', N'Bolivia')
INSERT [dbo].[MONEDA] ([ID_MONEDA], [PAIS]) VALUES (N'eur', N'uk')
INSERT [dbo].[MONEDA] ([ID_MONEDA], [PAIS]) VALUES (N'sus', N'Estados unidos')
GO
SET IDENTITY_INSERT [dbo].[MOVIMIENTO] ON 

INSERT [dbo].[MOVIMIENTO] ([ID_MOVIMIENTO], [NRO_CUENTA], [FECHA], [TIPO], [IMPORTE]) VALUES (1, N'10000000000011', CAST(N'2022-02-02T00:00:00.000' AS DateTime), N'a', CAST(5000.00 AS Decimal(12, 2)))
INSERT [dbo].[MOVIMIENTO] ([ID_MOVIMIENTO], [NRO_CUENTA], [FECHA], [TIPO], [IMPORTE]) VALUES (2, N'10000000000011', CAST(N'2021-02-19T00:00:00.000' AS DateTime), N'a', CAST(400.00 AS Decimal(12, 2)))
INSERT [dbo].[MOVIMIENTO] ([ID_MOVIMIENTO], [NRO_CUENTA], [FECHA], [TIPO], [IMPORTE]) VALUES (3, N'10000000000011', CAST(N'2021-02-19T00:00:00.000' AS DateTime), N'a', CAST(50.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[MOVIMIENTO] OFF
GO
INSERT [dbo].[TIPO_CAMBIO] ([ID_MONEDA], [FECHA], [VALOR_COMPRA], [VALOR_VENTA], [ID_MONEDA_CAMBIO]) VALUES (N'eur', CAST(N'2021-02-04T00:00:00.000' AS DateTime), CAST(9.85 AS Decimal(12, 2)), CAST(9.90 AS Decimal(12, 2)), N'bol')
INSERT [dbo].[TIPO_CAMBIO] ([ID_MONEDA], [FECHA], [VALOR_COMPRA], [VALOR_VENTA], [ID_MONEDA_CAMBIO]) VALUES (N'sus', CAST(N'2021-03-02T00:00:00.000' AS DateTime), CAST(6.87 AS Decimal(12, 2)), CAST(6.97 AS Decimal(12, 2)), N'bol')
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA] FOREIGN KEY([NRO_CUENTA])
REFERENCES [dbo].[CUENTA] ([NRO_CUENTA])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_CUENTA]
GO
ALTER TABLE [dbo].[TIPO_CAMBIO]  WITH CHECK ADD  CONSTRAINT [FK_MONEDA] FOREIGN KEY([ID_MONEDA])
REFERENCES [dbo].[MONEDA] ([ID_MONEDA])
GO
ALTER TABLE [dbo].[TIPO_CAMBIO] CHECK CONSTRAINT [FK_MONEDA]
GO
/****** Object:  StoredProcedure [dbo].[actualizar_saldo]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[actualizar_saldo]
@cuenta1 VARCHAR (14)
AS
begin
	update CUENTA
	set SALDO=((select ISNULL( sum(IMPORTE),0)
				from MOVIMIENTO
				where NRO_CUENTA=@cuenta1 and tipo='a')-(select ISNULL( sum(IMPORTE),0)
																	from MOVIMIENTO
															where NRO_CUENTA=@cuenta1 and tipo='d'))
	where NRO_CUENTA=@cuenta1;

end
GO
/****** Object:  StoredProcedure [dbo].[adicion]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[adicion](

	@NRO_CUENTA  varchar(14),
	@TIPO char(3),
	@MONEDA char(3),
	@NOMBRE nvarchar(40))
	
as
Begin
	insert into CUENTA(NRO_CUENTA, tipo, moneda, nombre, saldo)
	values(@NRO_CUENTA,@TIPO,@MONEDA,@NOMBRE,0.0);
End
GO
/****** Object:  StoredProcedure [dbo].[deposito]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deposito]
@cuenta VARCHAR (14),
@monto decimal(12,2)
AS
begin
update CUENTA
set SALDO=SALDO+@monto
where NRO_CUENTA=@cuenta ;
end


exec deposito '10000000000002', 500.00







GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaSaldo]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     Procedure [dbo].[sp_ConsultaSaldo](

	@nro_cuenta varchar(14),
	@saldo decimal(12,2)output)
	
as

Begin
	select @saldo=saldo 
	from CUENTA
	where NRO_CUENTA=@nro_cuenta;

	/*select @saldo saldo;*/
	
End
GO
/****** Object:  StoredProcedure [dbo].[sp_deposito]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     Procedure [dbo].[sp_deposito](

	@NRO_CUENTA varchar(14),
	@IMPORTEm decimal(12,2))
	
as

Begin
	insert into MOVIMIENTO(NRO_CUENTA, FECHA, TIPO, IMPORTE)
	values(@NRO_CUENTA,GETDATE(),'A',@IMPORTEm);

	update CUENTA
	set SALDO=((select SALDO
				from CUENTA
				where NRO_CUENTA=@NRO_CUENTA)+@IMPORTEm)

			
	where CUENTA.NRO_CUENTA=@NRO_CUENTA;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_retiro]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     Procedure [dbo].[sp_retiro](

	@NRO_CUENTA varchar(14),
	@IMPORTEm decimal(12,2))
	
as

Begin
	insert into MOVIMIENTO(NRO_CUENTA, FECHA, TIPO, IMPORTE)
	values(@NRO_CUENTA,GETDATE(),'D',@IMPORTEm);

	update CUENTA
	set SALDO=((select SALDO
				from CUENTA
				where NRO_CUENTA=@NRO_CUENTA)-@IMPORTEm)

			
	where CUENTA.NRO_CUENTA=@NRO_CUENTA;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_Transferencias]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_Transferencias]
@cuenta1 VARCHAR (14),
@cuenta2 VARCHAR (14),
@monto decimal(12,2)

AS
begin
	exec sp_deposito @cuenta2,@monto;
	exec sp_retiro @cuenta1,@monto;
end
GO
/****** Object:  StoredProcedure [dbo].[sp4_ConsultaSaldos]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     Procedure [dbo].[sp4_ConsultaSaldos]
as
	select tipo, moneda, NRO_CUENTA, NOMBRE,saldo
	from CUENTA 
return
GO
/****** Object:  StoredProcedure [dbo].[spConsultaSaldos]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   Procedure [dbo].[spConsultaSaldos](
@tipo char(3)output,
@moneda char(3)output,
@cuenta varchar(14)output,
@titular varchar(40)output,
@saldo decimal(12,2) output
)
as
	select @tipo=tipo, @moneda=moneda, @cuenta=NRO_CUENTA, @titular=NOMBRE,@saldo= saldo
	from CUENTA 
return
GO
/****** Object:  StoredProcedure [dbo].[spmovimiento]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   Procedure [dbo].[spmovimiento](

	@NRO_CUENTA varchar(14),
	@FECHAm datetime,
	@TIPOm char(3),
	@IMPORTEm decimal(12,2))
	
as

Begin
	insert into MOVIMIENTO(NRO_CUENTA, FECHA, TIPO, IMPORTE)
	values(@NRO_CUENTA,@FECHAm,@TIPOm,@IMPORTEm);

	update CUENTA
	set SALDO=((select ISNULL( sum(IMPORTE),0)
				from MOVIMIENTO
				where NRO_CUENTA=@NRO_CUENTA and tipo='a')-(select ISNULL( sum(IMPORTE),0)
																	from MOVIMIENTO
															where NRO_CUENTA=@NRO_CUENTA and tipo='d'))
	
			
			
			
	where CUENTA.NRO_CUENTA=@NRO_CUENTA;
End
GO
/****** Object:  StoredProcedure [dbo].[spregistrar]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create   Procedure [dbo].[spregistrar](

	@NRO_CUENTA  varchar(14),
	@TIPO char(3),
	@MONEDA char(3),
	@NOMBRE nvarchar(40),
	@SALDO decimal(12,2),
	@FECHAm datetime,
	@TIPOm char(3),
	@IMPORTEm decimal(12,2))

as
Begin
	insert into CUENTA(NRO_CUENTA, tipo, moneda, nombre, saldo)
	values(@NRO_CUENTA,@TIPO,@MONEDA,@NOMBRE,@SALDO);
	insert into MOVIMIENTO(NRO_CUENTA, FECHA, TIPO, IMPORTE)
	values(@NRO_CUENTA,@FECHAm,@TIPOm,@IMPORTEm);
End
GO
/****** Object:  StoredProcedure [dbo].[transferencias]    Script Date: 01/05/2021 12:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[transferencias]
@cuenta1 VARCHAR (14),
@cuenta2 VARCHAR (14),
@fecha datetime,
@tipo1 char(3),
@tipo2 char(3),
@monto decimal(12,2)

AS
begin
	insert into MOVIMIENTO(NRO_CUENTA, FECHA, TIPO, IMPORTE)
	values(@cuenta1,@fecha,@tipo1,@monto),
			(@cuenta2,@fecha,@tipo2,@monto);

end
GO
USE [master]
GO
