@model WebApi.Backend.models.Movimiento;
@{ ViewData["Title"] = "Retiro y abonos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deposito o abono </h2>


<form asp-action="Adicionar" method="post">
    <div class="form-group">
        <label  for="NroCuenta">NroCuenta:</label>
        <input id="nrocuenta" class="form-control" name="NroCuenta" />
    </div>
    <div class="form-group">
        <label for="Monto">Monto:</label>
        <input  id="monto" class="form-control" name="Monto" />
    </div>

    <div class="text-center panel-body">
        <button type="button"  id="ret" class="btn btn-sm btn-primary">Retiro</button>
        <button type="button" id="dep" class="btn btn-sm btn-danger">abono</button>
    </div>
</form>
@section scripts
        {
    <script type="text/javascript">

        $(function () {
            $("#dep").click(function () {
            var url = "@Url.Action("movimiento","retiroAbono")";

            var nro_cuenta = $("#nrocuenta").val();
            var monto = $("#monto").val();
            var tipon = 'a';
            var fechan = new Date($.now()).toString();

            var data = { nrocuenta: nro_cuenta, fecha: fechan, tipo: tipon, importe: monto };

                $.post(url, data).done(function (data))
        {
            if (data.ok)
            {
                        $("#div-alerta").removeClass("alert-danger").addClass("alert-sucess").slideDown(200);
            }
            else
            {
                        $("#div-alerta").removeClass("alert-succes").addClass("alert-danger").slideDown(200);
            }

                    $("#mensaje-alerta").html(data.Mensaje);
        }).fail(manejarErrorAjax);
    });

        $("#btn-cerrar-alerta"), click(function () {
            $(this).parent().slideUp(200);
    });
    </script>

}

